# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Nano35.ToDo.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\user\RiderProjects\Git\Nano35.ToDo\.idea\.idea.Nano35.ToDo.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
